<h2>About</h2>

<p>Welcome to Warrick's efforts to make a Project Management tool. Initially he thought that "PM" was <i>private message</i>. Apparently it's not. </p>

<hr>
<p>Warrick thinks Terra is pretty awesome and fierce. </p>

<img src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2015-01-05/3341670304_8fbea0ee9432a7c18a31_192.jpg" />