<p>Hello <%= @user.first_name %>,</p>

<p>You've got a comment on your discussion titled: <%= @discussion.title %></p>

<p>The comment is: <%= @comment.body %></p>

<p>Regards,</p>

<p>PM tool Team</p>
